{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title%}Inventories | {% endblock %}

{% block content %}

<div class="container">
    <div class="add-item inventories">
        <form method="POST" class="add-item-form">
            {% csrf_token %}
            <div class="form-fields">
                {{ form|crispy }}
                <button type="submit" class="btn btn-success btn-lg btn-block addItemButton">Add a new item</button>
            </div>
        </form>
    </div>

    <div class="inventories">
        {% for category_name, category_values in inventory_categories.items %}
            <div class="inventory-container">
                <table class="table">
                    <thead class="thead bg-primary">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for inventory in category_values %}
                    <tr class="tbody-data">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{inventory.name}}</td>
                        <td>{{inventory.quantity}} {{inventory.measure_unit}}</td>
                        <td>{{inventory.price}}</td>
                        <td><a class="btn btn-danger" href="{% url 'inventory:remove_item' inventory.id %}" role="button">X</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</div>

<script>var csrftoken = '{{ csrf_token }}';</script>
{% endblock %}
