{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title%}Inventories | {% endblock %}

{% block content %}

<div class="container">
    <label class="uppercase text-xl font-bold text-blue-dark">Add a new item</label><br>
    <div class="add-item inventories">
        <form method="POST" action="" class="">
            {% csrf_token %}
            <div class="form-fields">
                {{ form|crispy }}
                <button type="button" class="btn btn-success btn-lg btn-block">+</button>
            </div>
        </form>
    </div>

    <div class="inventories">
        {% for category_name, category_values in inventory_categories.items %}
            <div class="inventory-container">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for inventory in category_values %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{inventory.name}}</td>
                        <td>{{inventory.quantity}} {{inventory.measure_unit}}</td>
                        <td>{{inventory.price}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}